# Exclude version control files
.git
.gitignore

# Exclude editor-specific files
.vscode
.idea

# Exclude build artifacts and binaries
*.exe
*.o
*.a

# Exclude Node.js dependencies
node_modules
npm-debug.log
yarn-error.log
