version: "3.8"

services:
  api:
    container_name: product-road-api
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DOCKER_BUILDKIT: 1
    ports:
      - "8080:8080"
    depends_on:
      - db
  db:
    container_name: product-road-db
    image: postgres:15.2-alpine
    command: postgres -c 'max_connections=1000'
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_DB: ${PGDATABASE}
      POSTGRES_PASSWORD: ${PGPASSWORD}
    ports:
      - "${PGHOSTPORT}:${PGPORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    container_name: product-road-redis
    image: redis:6.2.7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  
volumes:
  postgres_data:
  redis_data:
